@page
@model ContosoCrafts.WebSite.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        line-height: 1.5;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        color: darkred;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>
<h1>@ViewData["Title"]</h1>
<h2>Redhawks Pet Rescue is a website created by the Girls in Tech team to connect people with their future pets!</h2>

<h3>We were founded in 2023, with the intention of providing potential pet adopters the ability to adopt a large variety of pets. To do so, we researched local adoption centers to find a variety of pets available for adoption. We hope to expand adoption locations soon!</h3>

<h3>We understand that not everyone knows what kind of pet they want, so we have a <a href="./Survey">survey</a> for them.</h3>

<h3>We hope that you are able to find the pet for you! Feel free to <a href="./Contact">contact</a> us if you have any questions!</h3>