@page
@model ContosoCrafts.WebSite.Pages.AllPetsListingModel
@{
    ViewData["Title"] = "Pet Adoption";
}

<header>
    <h1>All available pets:</h1>
</header>

<table>
    <tr>
        <th width="20">Name</th>
        <th>Age</th>
        <th>Breed</th>
        <th>Location</th>
        <th>Cost to Adopt</th>
        <th>Photo</th>
    </tr>
    <tr>
        <!-- A row for a single pet. Can add more rows for more pets.-->
    </tr>
</table>

