@page
@model ContosoCrafts.WebSite.Pages.AllPetsListingModel
@{
    ViewData["Title"] = "Pet Adoption";
}

<header>
    <h1>All available pets:</h1>
</header>

@foreach (var pet in Model.Pets)
{
    <h2>
        @pet.Name
    </h2>
}