@page
@model ContosoCrafts.WebSite.Pages.AllPetsListingModel
@{
    ViewData["Title"] = "Pet Adoption";
}

<header>
    <h1>All available pets:</h1>
</header>

// MT: This page will be our listing of all available pets.