@page
@model ContosoCrafts.WebSite.Pages.AllPetsListingModel
@{
    ViewData["Title"] = "Pet Adoption";
}

<!DOCTYPE html>

<html>
    <head>
        <style>
            table {
                width: 100%
            }
            td, th {
                padding: 8px;
            }
        </style>
    </head>
<header>
    <h1>All available pets:</h1>
</header>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Breed</th>
            <th>Location</th>
            <th>Cost to Adopt</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        <!-- MT: I think we can add in rows for our pets like this, feel free to use something different...
        @foreach (var pet in Model.Pets)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => @pet.Name)</td>
                <td>@Html.DisplayFor(modelItem => @pet.Age)</td>
            </tr>
        }
        -->
    </tbody>
</table>
</html>


