@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<p> <em>Last Updated: May 8, 2023</em></p>

<!--Display frequent asked questions-->
<h3>Are you looking for a pet?</h3>
<p>Redhawks Pet Rescue has a list of available pets to adopt in the general Seattle area. 
    Begin your search by using our <a asp-page="/Product/AllPetsListing">Pet Adoption List</a> or use the 
    <a asp-page="/PetMap">Pet Map</a> to locate pets in your area.
</p>

<h3>Do you need assistance choosing a pet?</h3>
<p>We do provide a specialized survey to assist you with finding the pet that best suits your needs. 
    If you need assistance on choosing your pet, please use our <a asp-page="/Survey">Pet Survey</a>.
</p>

<!--Contact information displayed under this header-->
<h3>If you need additional help, please contact us directly.</h3>
<p><b>Tel:</b><i>+1(206)666-6666</i></p>
<p><b>General Email:</b> <i>info@redhawkspetrescue.org</i></p>
<p><b>Adoption Inquiry Email:</b> <i>adopt@redhawkspetrescue.org</i></p>
<p><b>Support Email:</b> <i>support@redhawkspetrescure.org</i></p>

<!--Thank you message to visitors-->
<h2>We look forward to hearing from you!</h2>