@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<p> <em>Last Updated: May 8, 2023</em></p>
<h3>Are you looking for a pet?</h3>
<p>Redhawks Pet Rescue has a list of available pets to adopt in the general Seattle area. 
    Begin your search by using our <a asp-page="/Product/AllPetsListing">Pet Adoption List</a> or use the 
    <a asp-page="/PetMap">Pet Map</a> to locate pets in your area.
</p>

<h3>Do you need assistance choosing a pet?</h3>
<p>We do provide a specialized survey to assist you with finding the pet that best suits your needs. 
    If you need assistance on choosing your pet, please use our <a asp-page="/Survey">Pet Survey</a>.
</p>

<h3>If you need additional help, please contact us directly.</h3>
<p><b>Tel:</b> +1(206)666-6666</p>
<p><b>General Email:</b> info@redhawkspetrescue.org</p>
<p><b>Adoption Inquiry Email:</b> adopt@redhawkspetrescue.org</p>
<p><b>Support Email:</b> support@redhawkspetrescure.org</p>
