@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style = "background-color:#fce5b6">
<h1>Girls in Tech</h1>
    <center><a class="nav-link text-dark" asp-area="" asp-page="/Product/AllPetsListing"> <h2>Click Here to View All Available Pet</h2> </a></center>
@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<div>
    @Html.Partial("PetSurveyPage")
</div>

<script src="_framework/blazor.server.js"></script>
</body>