@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))
<h1>Hello this is rucha</h1>
<script src="_framework/blazor.server.js"></script>