@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p> <em>Last Updated: April 19, 2023</em></p>
<p>Redhawks Pet Rescue privacy policy informs you of our policy regarding the use, collection and disclosure of your private information when using our website.
   By using our website, you consent to the use and collection of your information as stated in this policy statement. Your information will not be shared with anyone
   unless stated in this statement. We use your information only for the purposes for providing and improving our services. </p>

 <h2>Information Collection</h2>
 <p>When using our services, we may request information to assist, verify and contact you. Personal information may contain, but is not limited to: 
     <ul>
         <li>Name</li>
         <li>Phone number</li>
         <li>Email address</li>
         <li>Address</li>
         <li>Payment information</li>
     </ul>
 </p>

 <h2>Linked Sites </h2>
 <p>Our website may contain links to external sites that are not under our operation. Those links are subject to their own terms and conditions separated from us. 
     Please be aware when you leave our website and we encourage you to read the privacy statement of the one you are visiting. </p>

 <h2>Security</h2>
 <p>The security and confidentiality of your private information is an important priorty to us. While we have taken precausionary measures to ensure your privacy
     while using our platform, we cannot guarantee that all your activity and information will remain private. </p>

 <h2>Legal Rights Notice</h2>
 <p>We reserve the right update our terms and conditions at any time. We do not have the obligation to notify our users of these changes. Please refer to this page
     incremently to see any updates on our policies. </p>

<h2>Contact Us</h2>
<p>If you have any questions regarding the policy, please contact us directly.</p>
