.checked {
  color: orange;
}

.fa-star {
  cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

/* Form container */
.customer-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

/* Form fields */
.customer-form-group {
    margin-bottom: 15px;
}

.customer-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.customer-form-group input,
.customer-form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Checkbox and label in the same row */
.customer-display-group {
    display: flex;
    align-items: center;
}

.customer-display-group label {
    font-weight: bold;
}

.customer-display-group input {
    
    margin-left:20px;
}

/* Submit button */
.customer-submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .customer-submit-button:hover {
        background-color: #45a049;
    }

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: .8;
}

.modal .card-img {
  height: 500px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}
.card-footer {
    background: #fbfafd;
}

/*Adds background color, uniform font, and some font styling to the petinfo pages.*/
.petinfo {
    background-color: #48a7d5;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}
/*Adds a style element for the card columns, centering them on the page and displaying them as only two per row*/
.card-columns {
    display: flex-grid;
    column-count: 3;
    justify-content: center;
    align-items: center;
}

/* Provide sufficient contrast against white background */
a {
   color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}
.btn-primary:hover {
    color: #fff;
    background-color: #e9a8a6;
    border-color: #e9a8a6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #fce5b6;
}
p {
    font-family: 'Nunito', sans-serif;
}
h1 {
    font-family: 'Nunito', sans-serif;
}
ul {
    font-family: 'Nunito', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #fff 30%, #f5ddb8 60%);
    background: -o-linear-gradient(110deg, #fff 30%, #f5ddb8 60%);
    background: -moz-linear-gradient(110deg, #fff 30%, #f5ddb8 60%);
    background: linear-gradient(110deg, #fff 30%, #f5ddb8 60%);
}
.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
}
